<header class="header">
    <div class="container">
        <div class="logo">
            <h2>Logo</h2>
        </div>
        <nav class="menu">
            <div class="head">
                <div class="logo">
                    <h2>Logo</h2>
                </div>
                <button type="button" class="close-menu-btn"></button>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="dropdown"><a href="#">Product</a>
                  <i class="fa-solid fa-chevron-down"></i>
                  <ul class="sub-menu">
                    <li class="dropdown"><a href="#"><span>Grocery</span></a>
                      <i class="fa-solid fa-chevron-down"></i>
                      <ul class="sub-menu sub-menu-right">
                        <li><a href="#"><span>Oil Types</span></a></li>
                        <li><a href="#"><span>Shapoos</span></a></li>
                        <li><a href="#"><span>rice types</span></a></li>
                        <li><a href="#"><span>other Grocerys</span></a></li>
                      </ul>
                    </li>
                    <li><a href="#"><span>Jewellery</span></a></li>
                    <li class="dropdown">
                      <a href="#"><span>Electronics</span></a>
                      <i class="fa-solid fa-chevron-down"></i>
                      <ul class="sub-menu sub-menu-right">
                        <li><a href="#"><span>Mobile types</span></a></li>
                        <li><a href="#"><span>TV Types</span></a></li>
                        <li><a href="#"><span>Desktop</span></a></li>
                        <li><a href="#"><span>Other Electronis</span></a></li>
                      </ul>
                    </li>
                    <li><a href="#"><span>Stationery</span></a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="">Gallery</a>
                  <i class="fa-solid fa-chevron-down"></i>
                  <ul class="sub-menu">
                    <li><a href="#"><span>Grocery</span></a></li>
                    <li class="dropdown"><a href="#"><span>Jewellery</span></a>
                        <i class="fa-solid fa-chevron-down"></i>
                        <ul class="sub-menu sub-menu-right">
                            <li><a href="#"><span>Gold types</span></a></li>
                            <li><a href="#"><span>Silver</span></a></li>
                            <li><a href="#"><span>Artificial Jwellery</span></a></li>
                            <li><a href="#"><span>Alumeneum types</span></a></li>
                          </ul>
                    </li>
                    <li><a href="#"><span>Electronics</span></a></li>
                    <li><a href="#"><span>Stationery</span></a></li>
                  </ul>
                </li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Info</a></li>
              </ul>
              
        </nav>
        <div class="header-right">
          <input type="search" placeholder="serch heare"><button type="button" class="search-btn icon-btn">Search <i class="fa fa-search"></i></button>
            <button type="button" class="cart-btn icon-btn"><i class="fa-solid fa-shopping-cart"></i></button>
            <button type="button " class="open-menu-btn">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </button>
        </div>
    </div>
</header>




<router-outlet></router-outlet>