
<div class="RegisterForm">
  <h2>New User Register</h2>
  <form (ngSubmit)="register()">
    <div class="form">
      <div>
        <input type="text" class="form-control" [(ngModel)]="registerObj.fullName" name="fullName" required />
      </div>
      <div>
        <label>User ID:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="registerObj.user_id"
          name="user_id"
          required
        />
      </div>

      <div>
        <label>Password:</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="registerObj.password"
          name="password"
          required
        />
      </div>
      <div>
        <label>Confirm Password:</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="registerObj.confirmPassword"
          name="confirmPassword"
          required
        />
      </div>
    </div>
    <input type="checkbox" > read carefully all personal detail <br>
    <button type="submit">Register</button><br>
    <span class="log-in">  if you are already register  <a  href="#" type="submit">Log in</a></span>
  </form>
</div>
